<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>Image Placeholder Example</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
<!--
    <link rel="stylesheet" href="css/font-awesome.css">
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.css">
-->
    <link rel="stylesheet" href="css/tachyons-custom.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/tachyons.css">
<script type="text/javascript" id="MathJax-script" async
  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
</script>

   <style>
:root{
 --background-color: var(--teal-500);
 --heading-color: var(--green-500);
 --list-color: var(--green-400);
}
  body{
    background:var(--blue-900);
  }
  h1, h2{
    color:var(--heading-color);
    text-align:center;
    line-height:1.3;
  }
  li {
    color:var(--list-color);
  }
  p{
    margin-left: .5rem;
    margin-right: .5rem;
    color:var(--gray-000);

  }  
    </style>
  </head>
  <body  class="lh-copy"> 
    <nav class="z-1 w-100 fw6 f2 fixed top-0 
               blue-7 bg-blue-4 flex justify-between">
      <i class=" grow fa fa-angle-double-left fw6 tl pl2 w2"></i>
      <div class="f3 pt0 blue-7" > I O T A </div>
      <i class="grow fa fa-angle-double-right fw6 tr w2  pr2"></i>
    </nav>

    <div id="main" class="pt4 mh3  mh5-ns">
      <h1 class="tc lh-title-ns"> Model-view-controller </h1>
      <p>
        <a href="https://en.wikipedia.org/wiki/Model%E2%80%93view%E2%80%93controller"
          class="link fw6 blue-4">
        Model-view-controller (MVC)</a> is a software design
        pattern commonly used for developing user interfaces
        that divides the related program logic into three
        interconnected elements. This is done to separate
        internal representations of information from the
        ways information is presented to and accepted from
        the user.

      </p>

      <h2>The state of the system is   
          represented by the model parameters.</h2>
      <p>
         State implies state of the <b>system</b>. Props refer to the
         configuration state of the <b>view components</b>. Properties
         are generated mapping over model parameters and 
         reducing the model to a set of properties at <b>time \(t\)</b>.
         
          The map from 
         \(\textbf{M}_t \xrightarrow[Reducer]{\text{View}} \textbf{P}_t \).
         is performed whenever the <b>model</b> changes. 

          <!-- $$ x = {-b \pm \sqrt{b^2-4ac} \over 2a}.$$ -->

     </p>
     <h2>A controller responds to events and modifies the model.</h2>
     <p>
       A controller is aware of the system's model and changes
       the model according to business logic which depends
       on the current state and the action being requested
       by the event.  A <b>state transition function</b>,
       \(\textbf{A}()\) maps the system state from some time 
       in the past
       \((t-\Delta T) \) to current \(t\) where \(\textbf{A}_t\)  is the
       <em> action on the model at time </em> \(t\):

       $$ \textbf{M}_{t} = \textbf{A}_t(\textbf{M}_{t-\Delta T}) $$

     </p>
     <p>
       The following concepts must be considered as a whole system
       to provide a consistent user experiecnce:
       <div class="debug-grid flex justify-around">
         <ul class="ml2 list">
           <li>State</li>
           <li>Events</li>
           <li>Controller</li>
           <li>Model</li>
           <li>Props</li>
           <li>View</li>
           <li>Time</li>
         </ul>
     <div class="center" >image goes here</div>   
     </div> <!-- flex -->
      </p>
      <h2>View components subscribe to model changes and 
          recieve properties. </h2>
      <p>
        A controller never updates the view. Instead, view
        components <b>register with the model</b> to subscribe to
        updates. The model generates view updates whenever data
        changes. In this way, the view is automatically updated
        as a result of the controller modifying the data.
      </p>
    </div>

    <!-- A floaty box to show viewport height and width for debugging -->
    <footer class="fixed dn bottom-1 ba b--gray ph2 ml4 w-30 bg-dark-gray white">
      <p>Viewport dimensions:
      <p>Height: <strong class="green" id="height"></strong> px</p>
      <p>Width: <strong class="green" id="width"></strong> px</p>
      <script>
      // https://developer.mozilla.org/en-US/docs/Web/API/Window/resize_event
      (function(){
        const heightOutput = document.querySelector('#height');
        const widthOutput = document.querySelector('#width');
        function reportWindowSize() {
          heightOutput.textContent = window.innerHeight;
          widthOutput.textContent = window.innerWidth;
        }
        window.onresize = reportWindowSize;
        reportWindowSize(); // init
      })();
      </script>
    </footer>
    <!-- debug grid for learning CSS positioning! http://tachyons.io/xray -->
    <link rel="stylesheet"
    href="https://unpkg.com/tachyons-debug-grid@1.2.3/css/tachyons-debug-grid.min.css" />
  </body>
<script>
document.addEventListener("load") init);
function init(evt){
  if(localStorage.get("props")){
     props=localStorage.get("props");
       props.nav.isExpanded ? 
  }
}

</script>
</html>
<svg
  xmlns="http://www.w3.org/2000/svg"
  viewBox="23 43 765 467"
  height="36%"
  width="85%"
  style="overflow: visible; background-color: #737720; color: hsl(85.48,60.33%,76.27%);"
>
  <circle
    cx="417"
    cy="167"
    r="6"
    stroke-width="14px"
    stroke-dasharray="0 0 0 0"
    stroke-linecap="butt"
    stroke-linejoin="miter"
    stroke-dashoffset="0"
    stroke-opacity="56%"
    stroke="currentColor"
    fill="#6a349f"
  />

  <circle
    cx="451"
    cy="297"
    r="6"
    stroke-width="14px"
    stroke-dasharray="0 0 0 0"
    stroke-linecap="butt"
    stroke-linejoin="miter"
    stroke-dashoffset="0"
    stroke-opacity="56%"
    stroke="currentColor"
    fill="#6a349f"
  />

  <circle
    cx="257"
    cy="395"
    r="6"
    stroke-width="14px"
    stroke-dasharray="0 0 0 0"
    stroke-linecap="butt"
    stroke-linejoin="miter"
    stroke-dashoffset="0"
    stroke-opacity="56%"
    stroke="currentColor"
    fill="#6a349f"
  />
</svg>

