<h2>References</h2>
<ol>

<li>
Movie Magic 
<a href="https://www.ep.com/movie-magic-budgeting/">
Budgeting</a>
/
<a href="https://www.ep.com/movie-magic-scheduling/">
Scheduling</a>
</li>

<li>
<a href="https://www.ridehome.info/show/techmeme-ride-home/">
Techmeme Ride Home</a>
</li>

<li><a href="https://www.internethistorypodcast.com/author/brian-mccullough/">
Brian McCullough</a></li>

<li><a href="https://www.ridehomefund.com/">
Ride Home Fund</a></li>

<li><a href="001.html">
Model-View-Controller Software Pattern</a></li>

<!--
<li>
<a href="
https://nodeholder.com/sr/34jk04d3/assets/building-sirius-research-website-chatgpt.html">
Building Sirius A.I. Site
</a>
</li>

<li>
<a href="https://nodeholder.com/sr/34jk04d3/">
Sirius A.I
</a>
</li>
-->
</ol>
