server {
    server_name dev.study-groups.org;
    root /home/hirschro/src/webpage-study-group;
    location / {
       autoindex on; 
    }
    auth_basic “AdminArea”;
    auth_basic_user_file /etc/apache2/.htpasswd; 

    listen 80; # managed by Certbot

    listen 443 ssl; # managed by Certbot
    ssl_certificate /etc/letsencrypt/live/dev.study-groups.org/fullchain.pem; # managed by Certbot
    ssl_certificate_key /etc/letsencrypt/live/dev.study-groups.org/privkey.pem; # managed by Certbot
    include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot

}

server {
    server_name study-groups.org;
    server_name www.study-groups.org;
    root /home/hirschro/src/webpage-study-group/builds/study-groups/current;
    index index.html;
#    location / {
#        proxy_buffering off;
#        proxy_pass https://study-groups.github.io/webpage-study-group/;
#    }

    location / {
    }

    listen 443 ssl; # managed by Certbot
    ssl_certificate /etc/letsencrypt/live/study-groups.org-0001/fullchain.pem; # managed by Certbot
    ssl_certificate_key /etc/letsencrypt/live/study-groups.org-0001/privkey.pem; # managed by Certbot
    include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot

} 

server {
    if ($host = www.study-groups.org) {
        return 301 https://$host$request_uri;
    } # managed by Certbot


    if ($host = study-groups.org) {
        return 301 https://$host$request_uri;
    } # managed by Certbot

    server_name study-groups.org;
    server_name www.study-groups.org;
    listen 80;
    return 404; # managed by Certbot
}
server {
    # server_name EF3432ERE3;
    server_name sae.study-groups.org;
    root /dev/null;
    listen 80;
    location / {
        proxy_pass http://165.227.30.170:1029/api/nlp;
    }
}
