<!-- SECTIONS/CHAPTERS -->
<!-- <h1 class="main-header">Knowing Gaia</h1> -->
<content>

<section 
class="scrollspy"
spy-title="~ CHAPTER 1 ~" 
id="first-chapter"
role="contentinfo"
aria-label="Chapter 1 Introduction">

<h2 id="1" class="chapter">Ch 1. ~ Introduction</h2>
<p>
After many years of Buddhist study and practice, and be influenced by less traditional non-duality speakers, I was inspired to develop a contemplation practice called "Knowing Gaia". I've combined my experience of meditation and a Buddhist world view with a more contemporary approach which is not based on any spiritual authority. In "Knowing Gaia" a scientific world view is bent a little bit in the direction of intuition, poetry and mysticism without making up any
stories which contradict our modern common sense. The text is more of an
invitation than a guide, and readers are expected to make their own discoveries which may well be radically different from my own.</p>

<p id='c1-par2' >
Gaia, from Greek mythology, can be thought of as 'Mother Earth'. The mythology includes stories of creation, primordial conflict and shifting rulers. Here, I'm using a contemporary concept of Gaia. James Lovelock, an English scientist and inventor, started it. He was working for NASA investigating planetary atmospheres when he started thinking about how very odd Earth's atmosphere is, how unstable and unlikely. Of course this is a result of life processes exchanging gases, impossible for a non-living planet. He realized that not only does life adapt to changing conditions, but also changes conditions itself in a dynamic, self-regulating system.</p>

<p id='c1-par3'>
There was nothing anthropomorphic in his idea, but his friend, novelist William Golding, found it poetic and suggested calling it 'Gaia' rather than a more prosaic 'Earth systems science'.</p>

<p id='c1-par4'>
Some people have been enchanted by the poetry into thinking that our Earth will take care of us.  Unfortunately, we don't know that. Evidence so far suggests that Gaia is heartless. We are only as special as we make ourselves to be. Gaia is mother to all her children - frog and fly, Neanderthal and Homo Sapiens. Life forms thrive, or not, in an ever-changing web. Everyone needs something to eat. Animals eat plants which were thriving on the carbon dioxide exhaled by those very animals. The animals are thriving on the oxygen produced by the plants they are killing. Yet the whole complex system not only continues, but continues to develop more complexity. It almost seems alive, and so, following Lovelock, I'm calling it Gaia.</p>
    
<p id='c1-par5'> I'm setting aside the fact that traditional ideas of 'mother' simply the existence of 'father'. Let's just say the Sun is our father, and go ahead with Gaia as our subject. Think of the earth and everything on it.  The oceans are home to phytoplankton cells in the billions, each separately working away at photosynthesis, releasing trace amounts of oxygen. Diatoms not only give us oxygen, but lock carbon in their miniscule shells.The shells drop down through the water when the diatom dies, taking that bit of carbon with them, cooling the planet, to the benefit of the living diatoms and everyone else who
likes the temperature the way it is. Having discovered the amazing convenience of fossil fuels, we humans are about to defeat their efforts. Certain species of jellyfish think that's a great idea! They are already showing up in unprecedented numbers. So, who is choosing the future?</p>
    
<p id='c1-par6' > At the time of the asteroid impact that killed the
dinosaurs, small mammals were living in burrows, out of danger from the huge beasts who had ruled the planet for 175 million years. These small rat-like mammals would not be our first choice of an ancestor, but hiding in their burrows they survived the fires and extreme conditions following the impact, and became our ancestors. From a combination of chance, time and natural selection in a complex, self-regulating system, we emerged.</p>
</section>

</content>
