<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gaia Webpage</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="preconnect" href="css/tachyons-custom.css">
  <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap" rel="stylesheet">
  <!-- <link rel="stylesheet" href="./ScrollSpy.min.css"> -->
  <script src="https://kit.fontawesome.com/35878de880.js" 
   crossorigin="anonymous"></script>
  <style>
<head>
<style>
$CSS
</style>
<body>
