<script src="ScrollSpy.js"></script>
<div class="content">
<nav id="navbar"  class="w-100 fixed top-0 bg-dark-gray">
  <span class="fas fa-angle-double-left" id="previous"> </span>
  <div id="indicator">
    <ul class="scrollspy-indicator-container">
      <li class="spy-clickable">CHAPTER ~ 1</li>
      <li class="spy-clickable">CHAPTER ~ 2</li>
      <li class="spy-clickable">CHAPTER ~ 3</li>
      <li class="spy-clickable">CHAPTER ~ 4</li>
      <li class="spy-clickable">CHAPTER ~ 5</li>
      <li class="spy-clickable">CHAPTER ~ 6</li>
      <li class="spy-clickable">CHAPTER ~ 7</li>
      <li class="spy-clickable">CHAPTER ~ 8</li>
      <li class="spy-clickable">CHAPTER ~ 9</li>
      <li class="spy-clickable">CHAPTER ~ 10</li>
      <li class="spy-clickable">CHAPTER ~ 11</li>
      <li class="spy-clickable">The Author</li>                       
    </ul> 
  </div>  
  <span class="fas fa-angle-double-right" 
         id="nextArrow" onclick="nextChapter()"> </span>
</nav>
