<nav class="z-1 w-100 fw6 f2 fixed top-0 
               blue-7 bg-blue-4 flex justify-between">
        
        <i class=" grow fa fa-angle-double-left fw6 tl pl2 w2"></i>
        <div id="indicator" class="f3 pt0 blue-7" >G A I A </div>
        <i class="grow fa fa-angle-double-right fw6 tr w2  pr2"></i>
</nav>  


<!--
Good example with React and Tachyons
https://codesandbox.io/s/scrollspy-s3dlr?file=/src/navbar.js
-->
<script>

const isInView = element => {
  const rect = element.getBoundingClientRect()
  return rect.top >= 0 && rect.bottom <= window.innerHeight
}

chapterIds=["1","2","3","4"];
chaptersInView=[];

// In-view function
const spy = (items) => {
    const newItems = items.map(id => {
      const element = document.getElementById(id)

      if (element) {
        return {
          inView: isInView(element),
          element,
          chapter: id
        }
      } else {
        return {chatper: id }
      }
    })
    return newItems;
}

document.addEventListener("DOMContentLoaded", function(){
    setInterval(heartbeat,200);
});

const heartbeat = () => { 
    let chaptersView = spy(chapterIds);
    let chapInView=chaptersView.find( ( {inView} ) => inView===true);
    
    document.getElementById("indicator").innerHTML=`${chapInView?.chapter}`;
}

</script>


