<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Suggestions for renaming prompts</title>
</head>
<style>
  body {
    margin: 2em 1em 1em 4em;
    font-size: 1.3em;
  }
  table {
    width: 100%;
    max-width: 800px;
  }
  table tr td {
    border: 1px solid black;
    font-size: 1rm; 

  }
  #span1 #span2{
    width: 50%;
  }

</style>
<body>
  <table>
    <h2>Gaia Prompt Names & Alternatives (suggestions):</h2>
    <p>
      These edits are suggestions for the author to review and approved. An attempt was made to provide additional 
      clarity between the text body and the prompt "name". Since the prompt is repeated throughout the document, 
      a clearer and more memorable way to recall what each response represents seemed helpful.
    </p>
    <p>
      They are just suggestions. The author's work stands on its own without such edits.
    </p>
    <thead>
      <th id="span1" colspan="2">PROMPTS/BEFORE</th>
      <th id="span2" colspan="2">PROMPT/SUGGESTIONS</th>
    </thead>
    <tr>
      <td>Prompt 1</td>
      <td>Independently</td>
      <td>Prompt 1</td>
      <td>Independence in Nature</td>
    </tr>
    <tr>
      <td>Prompt 2</td>
      <td>Integrated</td>
      <td>Prompt 2</td>
      <td>Emotional Integration</td>
    </tr>
    <tr>
      <td>Prompt 3</td>
      <td>Dream</td>
      <td>Prompt 3</td>
      <td>Living with Dreams</td>
    </tr>
    <tr>
      <td>Prompt 4</td>
      <td>Body</td>
      <td>Prompt 4</td>
      <td>Body Awareness</td>
    </tr>
    <tr>
      <td>Prompt 5</td>
      <td>Honesty</td>
      <td>Prompt 5</td>
      <td>Self-Listening</td>
    </tr>
    <tr>
      <td>Prompt 6</td>
      <td>Power</td>
      <td>Prompt 6</td>
      <td>Power</td>
    </tr>
    <tr>
      <td>Prompt 7</td>
      <td>Touched</td>
      <td>Prompt 7</td>
      <td>Connection Through Senses</td>
    </tr>
    <tr>
      <td>Prompt 8</td>
      <td>Ideology</td>
      <td>Prompt 8</td>
      <td>Ideology</td>
    </tr>
    <tr>
      <td>Prompt 9</td>
      <td>Presence</td>
      <td>Prompt 9</td>
      <td>In Gaia's Presence</td>
    </tr>
    <tr>
      <td>Prompt 10</td>
      <td>Self</td>
      <td>Prompt 10</td>
      <td>????</td>
    </tr>

  </table>
  </div>
  
</body>
</html>