investigations/jekyll/

nohup.out
.DS_Store
mike
*.swp
*.zip
.qik
*.raw
clean.index
clean.txt
raw.txt
data.txt
build.log
err
old/
builds/
templates/gaia/gaia-cli/assets
templates/gaia/gaia-cli/index.html
templates/study-groups/archive/

investigations/playground/
investigations/gaia/builds
