<html>
<!-- Generates Nav from book element. Removes prompt. -->
<head>
<style>
nav li{
   display:block;
   float:left;
   width:3rem; 
   text-align:center;
   height:1.5rem;
   margin:.1rem; 
   border:1px solid blue;
   cursor:pointer;
}
nav li:hover{
   background:#888;
}
.nav-selected{
   background:#888;
}

nav ul{
   clear:both;
}
nav{
  float:none; 
}
#bookZ{
  display:none;
}
#chapter{
}
#prompt{
}
#text{
}
article{
  display:block;
}
</style>
</head>
<body>
<nav>
<ul id="chapterNav"> </ul>
<div style="clear:both">
<div id="chapter"></div>
</div> 
<!-- Debug info -->
<div id="action">idle</div>
<div id="data">no data</div>
</nav>
<!-- nav -->
<article id="article">
<div id="text"></div>
</article>
</body>
<script>
console.log("nav-007");
document.addEventListener('DOMContentLoaded',init);

function init(){
  initView();
  initNav();
  initModel();
}

//////////////
// MODEL
// localStorage used for storing state of:
//  1) Nav state (chapter, chapterId) 
//  2) App state (action, text)
//
// In addtion to localStorage, this model
// includes a hidden DOM element 'book'.
// with children div elements with class='chapter'.
//////////////
function initModel(){
  // if text doesn't exist, nothing exists, so init nav vars.
  if(!localStorage.getItem('text')) {
    localStorage.setItem('chapter',"");
 }

 // text is result of nav, part of biz logic, 
 localStorage.setItem('text',"To be retrieved.");
 modelSetItem("action","init"); 
}

// Object of key/values where the value is a function that
// is called when key changes. Currently only handleModelUpdateView
function modelSetItem(key,val){
  localStorage.setItem(key,val);
  // Send entire model to all subscriptions via data object.
  // Normally only send what changed.

  var actionStr=`set ${key}=${val}`
  localStorage.setItem('action', actionStr);
 
  var data={'chapter': localStorage.getItem('chapter'),
            'chapterId': localStorage.getItem('chapterId'),
            'action':  localStorage.getItem('action')
           };

  data.text="To be retrived.";
  //const el=document.getElementById(data.chapterId);
  const el=modelGetChapter(data.chapter);
  if(el){
    data.text=el.outerHTML;
  }else{
    data.text="Not found";
  }

  updateNav(data);
  updateView(data);
}

function modelGetChapter(chapter){
  chapEls=book.getElementsByClassName("chapter");
  if(chapEls[chapter-1]) 
    return chapEls[chapter-1];
  else
    return null;
}
//////////
//VIEW
//////////
// Global elements used by updateView()
var chapterNav;
var article;
var chapter;
var dataEl;
var text;
var debug;
var book;


function initView(){
  chapterNav=document.getElementById("chapterNav");
  article=document.getElementById("article");
  chapter=document.getElementById("chapter");
  dataEl=document.getElementById("data");
  text=document.getElementById("text");
  book=document.getElementById("book");
  debug=document.getElementById("debug");

}

function initNav(){
  const chapEls=book.getElementsByClassName("chapter");
  for(let el of chapEls){
      var navEl = document.createElement("li");
      chapterNav.appendChild(navEl);
      if(el.dataset.navName)
        navEl.innerHTML=el.dataset.navName;
      else 
        navEl.innerHTML=chapterNav.childElementCount;
    
      navEl.id="nav-"+chapterNav.childElementCount;
      navEl.dataset.chapter=chapterNav.childElementCount;
  }

  for(let el of chapterNav.children){
    el.addEventListener('click',handleEvent);
  }
}

// Called by Model when state changes.
function updateView(data){                       // VIEW 
  action.innerText=`action:${data.action}`;      // VIEW
  chapter.innerText=
     `chapter:${data.chapter}, chapterId:${data.chapterId}`;   // VIEW
  dataEl.innerText=`data:${JSON.stringify(data)}`;      // VIEW
  text.innerHTML=`${data.text}`; // VIEW
}

function updateNav(data){                       // VIEW 

  for(let el of chapterNav.children){
    el.classList.remove('nav-selected');
    if(el.id == data.chapterId)
      el.classList.add('nav-selected');
  }
}

///////////////
//CONTROLLER
///////////////
// All button handling goes thru here.
function handleEvent(e){ // CONTROLLER
  //console.log(`handleEvent: target.id ${e.target}`); // VIEW
  
  parent=e.target.parentNode; // VIEW-NAV 
  if(parent.id==="chapterNav"){
    modelSetItem('chapter', e.target.dataset.chapter);
    modelSetItem('chapterId',e.target.id);
  }
}

// References:
// https://reactnavigation.org/docs/navigation-events/
// https://developer.mozilla.org/en-US/docs/Mozilla/\
// Add-ons/WebExtensions/API/storage
</script>
</html>

<div id="book">

<h1>Book Title id='book'
<a onclick="document.getElementById('book').style.display='none';"
href="#">hide</a>
</h1>
<div data-navName="ch0" >Chapter0 text</div>
<div class="chapter">
  <h2  id='c1-h2'>Chapter 1: Introduction</h2>
  <div id="c1-s1">
    <h3>Section prompt h3 in chapter 1 </h3>
    <p id="c1-s1-p1"> 
    First paragraph of section 1 text with id="c1-s1-p1".
    </p>  <!-- c1-s1-p1 -->
  </div>  <!-- c1-s1 -->
</div> <!-- c1 -->

<div class="chapter">
  <h2>Chapter 2: Getting started</h2>
  <div id="c2-s1">
    <h3>Getting started section of Geting started</h3>
    <p id="c2-s1-p1"> 
    First paragraph of section 1 text with id="c2-s1-p1".
    </p>  <!-- c1-s1-p1 -->
    <p id="c2-s1-p2"> 
    Second paragraph of section 1 text with id="c2-s1-p2".
    </p>  <!-- c1-s1-p2 -->
  </div>  <!-- c1-s1 -->
</div> <!-- c1 -->
</div> <!-- book --!>
