<html>
<!-- Adds structured HTML data with id schema. -->
<head>
<style>
nav li{
   display:block;
   float:left;
   width:3rem; 
   text-align:center;
   height:1.5rem;
   margin:.1rem; 
   border:1px solid blue;
   cursor:pointer;
}
nav li:hover{
   background:#888;
}
.nav-selected{
   background:#888;
}

nav ul{
   clear:both;
}
nav{
  float:none; 
}
#bookZ{
  display:none;
}
#chapter{
}
#prompt{
}
#text{
}
article{
  display:block;
}
</style>
</head>
<body>
<nav>
<ul id="chapterNav">
<li>C1</li>
<li>C2</li>
<li>C3</li>
</ul>
<ul id="promptNav">
<li>P1</li>
<li>P2</li>
<li>P3</li>
<li>P4</li>
<li>P5</li>
</ul>
<div style="clear:both">
<div id="chapter"></div>
<div id="prompt"></div>
</div> 
<!-- Debug info -->
<div id="action">idle</div>
<div id="data">no data</div>
</nav>
<!-- nav -->
<article id="article">
<div id="text"></div>
</article>
</body>
<script>
console.log("nav-006");
document.addEventListener('DOMContentLoaded',init);

function init(){
  initView();
  initModel();
}

//////////////
// MODEL
//////////////
function initModel(){
  if(!localStorage.getItem('text')) {
    localStorage.setItem('chapter',2);
    localStorage.setItem('prompt',3);
 }
 localStorage.setItem('text',"To be retrieved.");
 modelSetItem("action","init"); 
}

// Object of key/values where the value is a function that
// is called when key changes. Currently only handleModelUpdateView
function modelSetItem(key,val){
  localStorage.setItem(key,val);
  // Send entire model to all subscriptions via data object.
  // Normally only send what changed.

  var actionStr=`set ${key}=${val}`
  localStorage.setItem('action', actionStr);
 
  var data={'chapter': localStorage.getItem('chapter'),
            'prompt':  localStorage.getItem('prompt'),
            'action':  localStorage.getItem('action')
           };
  data.text="To be retrived."
  data.text=document.getElementById(data.chapter.toLowerCase()).outerHTML;
  updateNav(data);
  updateView(data);
}

//////////
//VIEW
//////////
// Global elements used by updateView()
var chapterNav;
var promptNav;
var article;
var chapter;
var prompt;
var dataEl;
var text;

function initView(){
  chapterNav=document.getElementById("chapterNav");
  promptNav=document.getElementById("promptNav");
  article=document.getElementById("article");
  chapter=document.getElementById("chapter");
  prompt=document.getElementById("prompt");
  dataEl=document.getElementById("data");
  text=document.getElementById("text");

  for(let el of chapterNav.children){
    el.addEventListener('click',handleEvent);
  }
  for(let el of promptNav.children){
   el.addEventListener('click',handleEvent);
  }
}

// Called by Model when state changes.
function updateView(data){                       // VIEW 
  action.innerText=`action:${data.action}`;      // VIEW
  chapter.innerText=`chapter:${data.chapter}`;   // VIEW
  prompt.innerText=`prompt:${data.prompt}`;      // VIEW
  dataEl.innerText=`data:${JSON.stringify(data)}`;      // VIEW
  text.innerHTML=`${data.text}`; // VIEW
}

function updateNav(data){                       // VIEW 

  for(let el of chapterNav.children){
    el.classList.remove('nav-selected');
    if(el.innerText == data.chapter)
      el.classList.add('nav-selected');
  }
  for(let el of promptNav.children){
    el.classList.remove('nav-selected');
    if(el.innerText == data.prompt)
      el.classList.add('nav-selected');
  }

}

///////////////
//CONTROLLER
///////////////
// All button handling goes thru here.
function handleEvent(e){ // CONTROLLER
  //console.log(`In handleEvent: event=${e}`); // VIEW

  parent=e.target.parentNode; // VIEW-NAV 
  if(parent.id==="chapterNav"){
    modelSetItem('chapter',e.target.innerText);
  }
  if(parent.id==="promptNav"){
    modelSetItem('prompt',e.target.innerText);
  }
}

// References:
// https://reactnavigation.org/docs/navigation-events/
// https://developer.mozilla.org/en-US/docs/Mozilla/\
// Add-ons/WebExtensions/API/storage
</script>
</html>

<div id="book">
<h1>Book Title id='book'
<a onclick="document.getElementById('book').style.display='none';"
href="#">hide</a>
</h1>
<div class="chapter" id="c1">
  <h2 id='c1-h2'>Chapter 1: Introduction, id='c1-h2'</h2>
  <div id="c1-s1">
    <h3>Section prompt h3 in chapter 1 </h3>
    <p id="c1-s1-p1"> 
    First paragraph of section 1 text with id="c1-s1-p1".
    </p>  <!-- c1-s1-p1 -->
  </div>  <!-- c1-s1 -->
</div> <!-- c1 -->

<div class="chapter" id='c2'>
  <h2>Chapter 2: Getting started</h2>
  <div id="c2-s1">
    <h3>Getting started section of Geting started</h3>
    <p id="c2-s1-p1"> 
    First paragraph of section 1 text with id="c2-s1-p1".
    </p>  <!-- c1-s1-p1 -->
    <p id="c2-s1-p2"> 
    Second paragraph of section 1 text with id="c2-s1-p2".
    </p>  <!-- c1-s1-p2 -->
  </div>  <!-- c1-s1 -->
</div> <!-- c1 -->

</div> <!-- book --!>
