<html>
<!-- Hooks up local storage. -->
<head>
<style>
nav li{
   display:block;
   float:left;
   width:3rem; 
   text-align:center;
   height:1.5rem;
   margin:.1rem; 
   border:1px solid blue;
   cursor:pointer;
}
nav li:hover{
   background:#888;
}
nav-select{
   background:#888;
}

nav ul{
   clear:both;
}
nav{
  float:none; 
}
#chapter{
}
#prompt{
}
#text{
}
article{
  display:block;
}
</style>
</head>
<body>
<nav>
<ul id="chapterNav">
<li>C1</li>
<li>C2</li>
<li>C3</li>
</ul>
<ul id="promptNav">
<li>P1</li>
<li>P2</li>
<li>P3</li>
<li>P4</li>
<li>P5</li>
</ul>
<div style="clear:both">
<div id="chapter"></div>
<div id="prompt"></div>
</div>
<div id="action">idle</div>
</nav>
<article id="article">
<div id="text"></div>
</article>
</body>
<script>
console.log("nav-004");
document.addEventListener('DOMContentLoaded',init);

function init(){
  initView();
  initModel();
}

//////////////
// MODEL
//////////////
function initModel(){
  if(!localStorage.getItem('text')) {
    localStorage.setItem('chapter',2);
    localStorage.setItem('prompt',3);
    localStorage.setItem('text',"To be retrieved.");
 }
 modelSetItem("action","init"); 
}

// Object of key/values where the value is a function that
// is called when key changes. Currently only handleModelUpdateView
function modelSetItem(key,val){
  localStorage.setItem(key,val);
  // Send entire model to all subscriptions via data object.
  // Normally only send what changed.
  var data={'chapter': localStorage.getItem('chapter'),
            'prompt':  localStorage.getItem('prompt'),
            'action':  localStorage.getItem('action'),
            'text':    localStorage.getItem('text')
           };
  updateView(data);
}

//////////
//VIEW
//////////
// Global elements used by updateView()
var chapterNav;
var promptNav;
var article;
var chapter;
var prompt;
var text;

function initView(){
  chapterNav=document.getElementById("chapterNav");
  promptNav=document.getElementById("promptNav");
  article=document.getElementById("article");
  chapter=document.getElementById("chapter");
  prompt=document.getElementById("prompt");
  text=document.getElementById("text");

  for(let el of chapterNav.children){
    el.addEventListener('click',handleEvent);
  }
  for(let el of promptNav.children){
   el.addEventListener('click',handleEvent);
  }
}

// Called by Model when state changes.
function updateView(data){                       // VIEW 
  chapter.innerText=`chapter:${data.chapter}`;   // VIEW
  prompt.innerText=`prompt:${data.prompt}`;      // VIEW
  text.innerHTML=`updateView with ${data.text}`; // VIEW
}

///////////////
//CONTROLLER
///////////////
// All button handling goes thru here.
function handleEvent(e){ // CONTROLLER
  console.log(`In handleEvent: event=${e}`); // VIEW

  parent=e.target.parentNode; // VIEW-NAV 
  if(parent.id==="chapterNav"){
    modelSetItem('chapter',e.target.innerText);
  }
  if(parent.id==="promptNav"){
    modelSetItem('prompt',e.target.innerText);
  }
}

// References:
// https://reactnavigation.org/docs/navigation-events/
// https://developer.mozilla.org/en-US/docs/Mozilla/\
// Add-ons/WebExtensions/API/storage
</script>
</html>
