<html>
<head>
<style>
nav li{
   display:block;
   float:left;
   width:3rem; 
   text-align:center;
   height:1.5rem;
   margin:.1rem; 
   border:1px solid blue;
   cursor:pointer;
}
nav li:hover{
   background:#888;
}
nav ul{
   clear:both;
}
nav{
  float:none; 
}
#chapter{
}
#prompt{
}
#text{
}
article{
  display:block;
}
</style>
</head>
<body>
<nav>
<ul id="chapterNav">
<li>C1</li>
<li>C2</li>
<li>C3</li>
<li>C4</li>
<li>C5</li>
<li>C6</li>
<li>C7</li>
<li>C8</li>
<li>C9</li>
<li>C10</li>
<li>C11</li>
</ul>
<ul id="promptNav">
<li>P1</li>
<li>P2</li>
<li>P3</li>
<li>P4</li>
<li>P5</li>
<li>P6</li>
<li>P7</li>
<li>P8</li>
<li>P9</li>
<li>P10</li>

</ul>
<div style="clear:both">
<div id="chapter"></div>
<div id="prompt"></div>
</div>
<div id="action">idle</div>
</nav>
<article id="article">
<div id="text"></div>
</article>
</body>
<script>
console.log("gaia-web-001m1");

//////////////
// MODEL
//////////////
if(!localStorage.getItem('text')) {    
  localStorage.setItem('chapter',2);
  localStorage.setItem('prompt',3);
  localStorage.setItem('text',"Text for prompt 3 of chapter 2.");
  localStorage.setItem('action','idle');
}

function modelSetItem(key,val){
  localStorage.setItem(key,val);
  var data={'chapter': localStorage.getItem('chapter'),
            'prompt':  localStorage.getItem('prompt'),
            'text' :   localStorage.getItem('text')
           };
  updateView(data);
}

//////////
//VIEW
//////////
chapterNav=document.getElementById("chapterNav");
promptNav=document.getElementById("promptNav");
article=document.getElementById("article");
chapter=document.getElementById("chapter");
prompt=document.getElementById("prompt");
text=document.getElementById("text");

//children are <li>'s for chapter (C1, C2, C3, etc.
for(let el of chapterNav.children){  
    el.addEventListener('click',handleEvent);
}

for(let el of promptNav.children){
   el.addEventListener('click',handleEvent);
}

function updateView(data){ // VIEW 
  chapter.innerText=`chapter:${data.chapter}`; // VIEW
  prompt.innerText=`prompt:${data.prompt}`; // VIEW
  text.innerHTML=`updateView with ${data.text}`; // VIEW
}

///////////////
//CONTROLLER
///////////////
// All button handling goes thru here.
function handleEvent(e){ // CONTROLLER
  console.log(`In handleEvent: event=${e}`); // VIEW

  parent=e.target.parentNode; // VIEW-NAV 
  if(parent.id==="chapterNav"){
    modelSetItem('chapter',e.target.innerText);
  }
  if(parent.id==="promptNav"){
    modelSetItem('prompt',e.target.innerText);
  }
}

</script>
</html>
