<html>
<head>
</head>
<h1>Components Investigation</h1>
<ul>
<li>
  <a href="./simple-state.html">
  simple-state.html</a>: Minumum example of setting and using state.
</li>
<li>
  <a href="https://developer.mozilla.org/en-US/docs/Web/Web_Components">
  Web Components</a>: Web Components is a suite of different technologies allowing you to create reusable custom elements.
</li>
<li>
  <a href="./components-11-09-2020.pdf">
  Whiteboard session on components</a>:Notes on compositionality of 
components.
</li>
<li>
  <a href="./nav">
  nav</a>: Navigation example with localStorage.
</li>
</ul>
</html>
