<html>
<head>
</head>
<h1>Components Investigation</h1>
<h2>Code examples</h2>
<ul>
<li>
  <a href="./simple/">
  simple-state.html</a>: Minumum examples of setting, using and 
saving state in the browser.
</li>
<li>
  <a href="./nav"> nav</a>: Navigation example with localStorage.
</li>
<li>
  <a href="./webcomponents">webcomponents</a>: Webcomponent examples.
</li>
</ul>

<h2>References</h2>
<ul>
<li>
  <a href="https://developer.mozilla.org/en-US/docs/Web/Web_Components">
  MDN Web Components</a>: Web Components is a suite of different technologies allowing you to create reusable custom elements.
</li>
<li>
  <a href="https://youtu.be/mTNdTcwK3MM">
  Build an App with  Web Components</a>: 
Video  a web component app in 9 minutes,
  <a href="https://github.com/marcushellberg/bad-news">code here</a>.
</li>
<li>
  <a href="./notes/components.pdf">
  Whiteboard session on components</a>:Notes on compositionality of 
components.
</li>
</ul>
</html>
