body{
  background:#333;
  color:#aaa;
  padding:3rem;
  padding-right:8rem;
  padding-top:1rem;
  font-size:16pt;
  line-height:1.7rem;
}

.video {
  padding:2rem;
}

.icon {
  border:3px solid #aaa;
  border-radius:0.0rem;
  width:5rem;
  min-height:5rem;
  float:right;
}

li{
  font-style:italic;
  margin:2rem;  
  color:#ccc;
}
