<!DOCTYPE html>
<html>
<head>
<style>
body {
   margin-top: 2em;
   margin-left: 2em;
}
h1{
   font-family: Arial, Helvetica, sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

.regular-text{
    font-family: 'Source Sans Pro', sans-serif;
}
</style>
</head>
<body>
<content>
<article>
<h1>Starter Style Guide</h1>
</article>
<h2>Fonts</h2>
<h3>Font-family:</h3>
<div>Source Sand Pro: 300, 300 Italic, 400, 600</div>
<a href="https://fonts.google.com/specimen/Source+Sans+Pro">
Google Fonts Sample</a>
<div class="regular-text"> 
Almost before we knew it, we had left the ground.
</div>

<br></br>
<h2>Color Palette</h2>
<div>Font Color: #fff</div>
<h3>Body</h3>
<div>Background Color: #2c2c2c</div>
<div>Banner Background Color: #5e7c7c</div>
<div>Background Image Overlay:</div>
</content>
</body>
</html>
