<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Iota Labs</title>
  <link rel="stylesheet" href="../styles.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">

</head>
<body>
  <header>
       <div class="logo-container">
        <div class="logo"><a href="../">NH</a></div>
       </div>

    <nav>
      <a href="#sec1">VC</a>
    </nav>

  </header>
  <main>
    <section id="home">
       <h2>Venture Capital Notes</h2>
       Using <a href=
           "https://github.com/study-groups/ds-study-group"
       >Data Science</a> to create custom solutions.
    </section> 

    <section id="sec1">
<h2>Future Tech</h2>
<ol>
<li>Glance over Ride Home Fund</li>
<li>Identify people to watch</li>
</ol>
    </section>

  </main>

<footer>
  <a href="https://twitter.com/mikericos" 
target="_blank" rel="noopener noreferrer" class="icon">
<img src="../assets/twitter-icon.svg" alt="Twitter"></a>
</footer>
</body>
</html>
